<html>
<div ng-app="OpenCIn">

    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-cookes.min.js"></script>
        <script src="js/lib/jquery-1.11.1.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/opencin-sparql.js"></script>
        <script src="js/lib/Autolinker.min.js"></script>
        <script src="js/modules.js"></script>
        <script src="js/strings.js"></script>
        <script src="js/menu-tree.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/directives.js"></script>


        <link href="css/lib/bootstrap.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="css/lib/font-awesome.min.css">
        <link href="css/index.css" rel="stylesheet" />

    </head>

    <body>
        <div ng-controller="LanguageCtrl">

        </div>
<div ng-controller="MenuCtrl">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                        <button type="button" class="btn btn-primary navbar-brand" aria-label="Left Align" ng-click="back()" ng-show="currentMenuStack.length > 1">
                          <span class="fa fa-chevron-left" aria-hidden="true"></span>
                            <!-- <a class="" href="#" ng-click="reload()">{{header}}</a> -->
                        </button>

                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            <li ng-repeat="item in currentMenu" ng-class="{active: item.name == selected.name}" ng-click="click(item.queryValue, item.name)"><a href=""><i class="fa {{item.icon}}"></i> {{item.title}}</a>
                            </li>

                        </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://www.cin.ufpe.br/~fmca/dadosabertos">OpenCIn</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{lang.title}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="language in languages"><a href="#" ng-click="changeLanguage(language.abbreviation)">{{language.title}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->


            </div>
            <!-- /.container-fluid -->
        </nav>


            <ol class="breadcrumb">

                <i class="fa fa-home"></i>
                <li ng-repeat="item in currentMenuStack" ng-click="back(item)"><a href="#">{{item.title}}</a>
                </li>
                <li>{{selected.title}}</li>
            </ol>





        <div ng-controller="ListCtrl">


            <div class="row">

                 <div class="col-sm-12 col-xs-12">



                    <div class="col-sm-8 col-md-8">
                        <div id="filter-box" class="input-group filter-box" style="float: right;">
                            <span class="input-group-addon"> <i ng-hide="listLoaded" class="results fa fa-refresh fa-spin"></i> <span ng-show="listLoaded" class="badge">{{ (data | filter: listFilter).length}}</span> <span ng-hide="listLoaded"> {{getString("loading")}}</span><span ng-show="listLoaded"> <b> {{header}}</b></span></span>
                            <input type="text" id="filter" class="form-control" ng-model="listFilter">
                            <span class="input-group-addon"> <i class="fa fa-search"></i> </span>
                        </div>
                    </div>

                </div>
 <div class="col-sm-12 col-xs-12">

                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12" ng-show="listLoaded" ng-repeat="result in data | filter: listFilter">
                        <div class="panel panel-default results" ng-mouseleave="hover = false" ng-disabled="!result.clickable" ng-click="!result.clickable || click(result.queryValue, result.menuMatch, result.title)" ng-class="{'clickable': result.clickable, 'panel-default': (!hover || !result.clickable), 'panel-primary': (hover && result.clickable)}" ng-mouseenter="hover = true">
                            <div class="panel-heading">
                                <b>{{result.title}}</b>
                            </div>
                            <div class="panel-body">
                                <div ng-bind-html="result.desc | toHtml"> </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

</div>
</body>

</html>
